.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
box-shadow: 5px 5px 5px grey;
}

.note
{
font-size: 15px;
color: red;
}

.copy_right_footer{
    position: fixed;
    color: orange;
    bottom: 0;
    width: 100%;
    background-color: green;
    line-height: 3;
    text-align: center;
    font-size: 20px;
}

canvas
{
border: 5px solid green;
border-radius: 20px;
box-shadow: 5px 5px 5px grey;
}

#song{
    font-size: 23px;
    margin: 15px;
}